<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <peec_facebook>
            <general>
                <active>1</active>
            </general>
            <page>
                <facebook_page_title></facebook_page_title>
                <facebook_page_url></facebook_page_url>
                <small_header>0</small_header>
                <adapt_container_width>1</adapt_container_width>
                <hide_cover>0</hide_cover>
                <show_facepile>1</show_facepile>
            </page>
            <likes>
                <show_in_product>1</show_in_product>
                <show_faces>1</show_faces>
                <share>1</share>
                <action>recommend</action>
                <color_scheme>light</color_scheme>
                <product_layout>standard</product_layout>
            </likes>
        </peec_facebook>
    </default>
</config>
